{
  "plugins": [
    ["lodash", {"id": ["lodash"]}],
    "dynamic-import-node",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "client": "./src/client",
          "common": "./src/common",
          "controller": "./src/server/controller",
          "routes": "./src/server/routes"
        },
        "extensions": [".js", ".jsx", ".json"]
      }
    ]
  ],
  "presets": [
    ["env", {"targets": "node"}],
    "flow"
  ]
}
