{
    "parser": "babel-eslint",
	"rules": {
        "strict": 0,
        "no-tabs": 0,
        "indent": ["error", 2],
		"no-unused-vars": 1,
        "jsx-a11y/label-has-for": 0,
        "semi": [2, "never"]
	}
}
